#mugshot {
    height: 25%; width: 25%;
    border-bottom: 1px solid lightgrey; border-right: 1px solid lightgrey; border-radius: 50%;
    background-color: pink;
    margin: 5px 5px auto;
}

nav {
    background-color: lightblue;
    padding: 20px;
    text-align: right;
}