html {
    background: #209cee;
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.card {
    height: 500px;
    width: 300px;
    float: left;
    margin: 10px;
}

#cardOne {
    animation-delay: 0.5s;
}

#cardTwo {
    animation-delay: 1s;
}

#cardThree {
    animation-delay: 1.5s;
}

#cardFour {
    animation-delay: 2s;
}

#cardFive {
    animation-delay: 2.5s;
}

.hero {
    position: absolute;
}

.hero-body {
    height: 100vh;
    width: 100vw;
}