@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");

$test-btn-height: 6vh;
$test-btn-width: 3.3vw;
$drop-border-radius: 40px;
$navFontSize: 2vh;
$robotoSlabFont: "Roboto Slab", Helvetica, sans-serif;
$robotoFont: "Roboto", Helvetica, sans-serif;

html {
    background: black !important;
}

.custom-navbar {
    height: 7vh;
    padding-top: 10px;
    background: #101d4a;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.about-btn {
    border-radius: $drop-border-radius;
    background: #101314;
    color: white;
    padding: 5px 20px;
    font-family: $robotoFont;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: inset -2px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.about-btn:hover {
    background: red;
}

.drop-btn {
    border-radius: $drop-border-radius;
    width: 150px;
    background: #43104a;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: $navFontSize;
    font-family: $robotoFont;
}

.drop-btn:hover {
    width: 100%;
    transition: width 75ms;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown:hover .drop-btn {
    border-bottom: 1px solid #101d4a;
    background-color: #43104a;
    border-top-left-radius: $drop-border-radius;
    border-top-right-radius: $drop-border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

.drop-list {
    display: none;
    background-color: #43104a;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
    border-bottom-left-radius: $drop-border-radius;
    border-bottom-right-radius: $drop-border-radius;
}

.custom-dropdown:hover .drop-list {
    display: block;
}

.drop-list button {
    font-size: 3vh;
    background: #43104a;
    color: white;
    text-decoration: none;
    display: block;
    outline: none;
    height: 30px;
    width: 100%;
    border: 0px solid #43104a;
    cursor: pointer;
    font-size: $navFontSize;
    font-family: $robotoFont;
}

.drop-list button:nth-last-child(1) {
    border-bottom-left-radius: $drop-border-radius;
    border-bottom-right-radius: $drop-border-radius;
}

.drop-list button:hover {
    background-color: rgb(0, 0, 0);
}

.project-names {
    color: white;
    font-size: 9vmin;
}

.visit-website-btn {
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    color: white;
    background: rgb(11, 134, 0);
    border-bottom: 4px solid rgb(5, 63, 0);
    border-radius: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: $robotoFont;
}

.visit-website-btn:hover {
    color: white;
    border-bottom: 2px solid rgb(5, 63, 0);
    box-shadow: inset -1px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.visit-github-btn {
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    color: white;
    background: #24292d;
    border-bottom: 4px solid #101314;
    border-radius: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: $robotoFont;
}

.visit-github-btn:hover {
    color: white;
    border-bottom: 2px solid #101314;
    box-shadow: inset -1px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.visit-trello-btn {
    cursor: pointer;
    font-size: 2.1vh;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    color: white;
    background: #0069a9;
    border-bottom: 4px solid #004570;
    border-radius: 25px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    font-family: $robotoFont;
}

.visit-trello-btn:hover {
    color: white;
    border-bottom: 2px solid #004570;
    box-shadow: inset -1px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

figure.project-img-container {
    max-width: 972px;
    max-height: 720px;
    margin: 20px auto 10px auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

header {
    font-family: $robotoSlabFont;
}

h2 {
    font-family: $robotoSlabFont;
}

p {
    color: white;
}

.technical-sheet {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.technical-list-item {
    color: white;
    // border: 1px solid white;
    padding: 2px 9px;
    margin: 5px 5px;
    border-radius: 25px;
    background-color: black;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.teammate-list {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.teammate-container {
    width: 100px;
    text-align: center;
    margin: 7px 7px;
    a {
        color: white;
    }
}

.teammate-container:hover {
    a {
        color: white;
    }
    .teammate-pic {
        box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.2);
        width: 101px;
        height: 101px;
    }
}

.teammate-pic {
    background-color: skyblue;
    border-radius: 75px;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

$kevin-scale: 15vw;

.kevin-container {
    border: 1px solid red;
    width: $kevin-scale;
    text-align: center;
    margin: 7px auto;
    color: white;
    font-size: 10vh;
}

.kevin-pic {
    background-color: skyblue;
    border-radius: $kevin-scale / 2;
    border: 0.3vw solid white;
    width: $kevin-scale;
    height: $kevin-scale;
    box-shadow: 0px 0.3vw 0.6vw 0px rgba(0, 0, 0, 0.2);
}

.noise {
    &::before {
        content: "";
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/noise.png");
        animation: 1s infinite noise;
        pointer-events: none;
    }
}

@keyframes noise {
    0%,
    100% {
        background-position: 0 0;
    }
    10% {
        background-position: -5% -10%;
    }
    20% {
        background-position: -15% 5%;
    }
    30% {
        background-position: 7% -25%;
    }
    40% {
        background-position: 20% 25%;
    }
    50% {
        background-position: -25% 10%;
    }
    60% {
        background-position: 15% 5%;
    }
    70% {
        background-position: 0% 15%;
    }
    80% {
        background-position: 25% 35%;
    }
    90% {
        background-position: -10% 10%;
    }
}