#about-page {
    height: 800px;
    width: 75vw;
    background: white;
    margin: 15vh auto 15vh auto;
    padding: 5vmax 0 5vmax 0;
    border-radius: 25px;
}
#image-wrapper {
    padding-top: 1vmin;
}

#about-picture {
    border-radius: 50%;
    margin: auto;
    display: block;
    border: 5px solid white;
    box-shadow: rgba(0,0,0,0.8) 0 0 5px;
    max-height: 60vh;
}

#profile-info {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 16px;
    color: black;
    padding: 5vw;
}

@media (max-width: 580px) {
    #about-page {
        height: 620px;
        margin: 15vh auto 15vh auto;
        padding: 0 0 5vmax 0;
        border-top-left-radius: 230px;
        border-top-right-radius: 230px;
    }

    #profile-info {
        font-size: 14px;
        padding: 1vw;
    }
}