footer {
    background: #ffc800 !important;
    height: 1vmin;
    bottom: 0;
    position: relative;
    width: 100%;
    margin-top: 2vh;
}

.fa-copyright {
    font-size: 13px;
}

.fa-github,
.fa-linkedin {
    font-size: 22px;
}

@keyframes bounceLot {
    from { transform: translate3d(0, -1vmax, 0); }
    to { transform: translate3d(0, 0, 0); }
}

.fa-linkedin {
    animation: bounceLot 0.7s cubic-bezier(.5,0.05,1,.5);;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounceLittle {
    from { transform: translate3d(0, -1vmax, 0); }
    to { transform: translate3d(0, 0, 0); }
}

.fa-github {
    animation: bounceLittle 1s cubic-bezier(.5,0.05,1,.5);;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

