#portfolio-banner {
    height: 25vh;
    background: #005fc2;
}

#banner-title {
    margin-top: 2vh;
    font-size: 14vh;
    margin-bottom: 0px;
}

#banner-subtitle {
    font-size: 4vh;
    margin-bottom: 3vh;
}

#banner-title,
#banner-subtitle {
    font-family: "Amatic SC", cursive;
    color: #e86600;
}

#menu-box-placeholder {
    height: 3vmin;
    background: #ffc800;
}

#menu-bar {
    background: #ffc800;
}

#menu-ul {
    margin-top: 3.5vh;
    margin-left: 2vmin;
}



li::before {
    display: none;
}

#left-menu-item {
    margin-left: 2vmin;
}

.breadcrumb li:first-child a {
    padding-left: 4vmin;
}

button.menu-choice {
    /* font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; */
    font-family: 'Knewave', cursive;
    text-decoration: bold;
    color: rgb(245, 136, 154);
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    background: #ffc800;
    cursor: pointer;
    border: 0;
    outline: none;
}

button.menu-choice:hover {
    /* font-family: 'Knewave', cursive; */
    /* color: rgb(245, 136, 154); */
    color: rgb(43, 43, 43);
    border-radius: 5px;
}

button:disabled {
    font-family: 'Knewave', cursive;
    color: black;
    cursor: not-allowed;
    opacity: 0.5;
}
