#portfolio-banner {
    height: 25vh;
    background: #005fc2;
}

#banner-title {
    margin-top: 2vh;
    font-size: 14vh;
    margin-bottom: 0px;
}

#banner-subtitle {
    font-size: 4vh;
    margin-bottom: 3vh;
}

#banner-title, #banner-subtitle {
    font-family: "Amatic SC", cursive;
    color: #e86600;
}

#menu-bar {
    background: #008cff;
    height: 12vh;
    width: 100%;
}

#menu-ul {
    background: black;
    position: absolute;
    margin-top: 3.5vh;
}

a.menu-choice {
    font-size: 4vh;
    color: white;
}