@media (min-width: 1200px) {
    .card .media:not(:last-child) {
        margin-bottom: 0.75rem;
    }
    .card.is-horizontal {
        display: flex;
        flex-basis: 50ex;
        flex-grow: 0;
        flex-shrink: 1;
    }
    .card-image {
        flex: 4;
        flex-shrink: 1;
    }
    .image {
        display: block;
        position: relative;
        overflow: hidden;
        height: 400px; // Keep same as .showcase's height from ProjectCard.css
        width: 100%;
    }
    img.project-img {
        height: 400px; // Keep same as .showcase's height from ProjectCard.css
        object-fit: contain;
        object-position: contain;
    }
    .card-content {
        flex: 3;
    }
}